* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
body {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
}
a:link {
	color: #000;
	text-decoration: none;
}
a:active {
	color: #000;
	text-decoration: none;
}
a:visited {
	color: #000;
	text-decoration: none;
}
a:hover {
	color: #f00;
	text-decoration: none;
}

.wrap {
	width: 100%;
	height: 100vh;
	background-color: #fff;
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #000;
	background-color: #d1d1d1;
	padding: 1em;
}
.header .head {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header .head h1 {
	font-size: 24px;
}
.header .head .navi {
	margin-left: 30px;
}
.header .head .navi a {
	display: inline-flex;
	margin: 0 1em;
}
.header .side_menu {
	display: flex;
}
.header .side_menu a {
	display: inline-flex;
	margin: 0 0 0 1em;
}

.main {
	text-align: center;
	padding: 2em;
}

.main .photo {
	margin: 0 auto;
}

.main .title {
	margin: 2em 0;
}

.main .title h2 {
	font-size: 24px;
	color: #cc3990;
	margin-bottom: 0.5em;
}
.main .title p {
	font-size: 20px;
	font-weight: bold;
}

.list {
	width: 80%;
	margin: 0 auto;
}

.list ul {
	margin-top: 50px;
}

.list ul li {
	margin: 1em 0;
}

.list ul li dl {
	display: flex;
	align-items: center;
	text-align: left;
}

.list ul li dl dt {
	width: 20%;
}

.list ul li dl dd {
	width: 80%;
}

.list ul li .progressbar {
	display: inline-block;
	width: 100%;
	height: 30px;
	background-color: #d6d3d3;
	border-radius: 15px;
	overflow: hidden;
}

.list ul li .progressbar > .gauge {
	display: inline-block;
	width: 95%;
	height: 30px;
	text-align: center;
	border-radius: 15px;
	color: #fff;
}
.list ul li:nth-child(1) .progressbar {
	background-color: #ffecf7;
}
.list ul li:nth-child(2) .progressbar {
	background-color: #f4e7c3;
}
.list ul li:nth-child(3) .progressbar {
	background-color: #d9ebcb;
}
.list ul li:nth-child(4) .progressbar {
	background-color: #cde5ef;
}
.list ul li:nth-child(5) .progressbar {
	background-color: #e6dcf4;
}

.list ul li:nth-child(1) .progressbar > .gauge {
	width: 64%;
	background-color: #db69ad;
}
.list ul li:nth-child(2) .progressbar > .gauge {
	width: 13%;
	background-color: #c1a23b;
}
.list ul li:nth-child(3) .progressbar > .gauge {
	width: 11%;
	background-color: #6cad38;
}
.list ul li:nth-child(4) .progressbar > .gauge {
	width: 9%;
	background-color: #3abff7;
}
.list ul li:nth-child(5) .progressbar > .gauge {
	width: 1%;
	background-color: #8448d6;
}

.share {
	margin: 2em 0;
}
.share a {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	background: #000;
	border-radius: 50px;
	height: 50px;
	padding: 0 2em;
	color: #fff;

}

.btn a {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	background: #000;
	border-radius: 50px;
	height: 50px;
	padding: 0 2em;
	color: #fff;
	
}

.container {
	display: flex;
	justify-content: space-between;
	padding: 2em 0;
	margin-bottom: 30px;
}

.hero {
	width: 45%;
}

.main .sex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.upload {
	width: 45%;
	border: 1px solid #000;
    align-items: center;
    align-items: center;
	text-align: center;
	display: flex;
	justify-content: center;

}
.upload a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}
.upload button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}
.upload label{
	
  display: inline-block;
  padding: .5em .75em;
  color: #999;
  font-size: inherit;
  line-height: middle;
  vertical-align: center;
  text-align:center;
  background-color: #fdfdfd;
  cursor: pointer;
  border: 1px solid #fdfdfd;
  border-bottom-color: #fdfdfd;
  border-radius: .25em;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 45%;
}
.upload input[type="file"]{
	line-height: middle;
	vertical-align: center;
  
	text-align: center;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0;

}
.hero a img {
	width: 100%;
}

.toggleSwitch {
	width: 80px;
	margin: 30px;
	height: 40px;
	display: block;
	position: relative;
	border-radius: 30px;
	background-color: #fff;
	box-shadow: 0 0 16px 3px rgba(0 0 0 / 15%);
	cursor: pointer;
}

.toggleSwitch .toggleButton {
	width: 30px;
	height: 30px;
	position: absolute;
	top: 50%;
	left: 4px;
	transform: translateY(-50%);
	border-radius: 50%;
	background: #f03d3d;
}

#toggle:checked ~ .toggleSwitch {
	background: #f03d3d;
}

#toggle:checked ~ .toggleSwitch .toggleButton {
	left: calc(100% - 36px);
	background: #fff;
}

.toggleSwitch,
.toggleButton {
	transition: all 0.2s ease-in;
}

.loginInfo {
	opacity: 1;
	transition: all 0.3s;
}

.loginInfo.active {
	opacity: 1;
}
