<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>닮다담다 - 자유게시판</title>
    <link rel="stylesheet" href="../static/css/Sungwon/board_style.css">
    <link href="../static/img/loco.png" rel="icon" type="image/icon">

</head>

<body>
	<div class="wrap">
		<header class="header">
			<div class="head">
				<h1><a href="{{url_for('main_view')}}">닮는 것을 담다</a></h1>
				<nav class="navi">
					<a href="{{url_for('list_free')}}">자유 게시판</a>
					<a href="{{url_for('list_share')}}">결과 게시판</a>
				</nav>
			</div>
			<div class="side_menu">
				{% if session["user_id"] %}
					<div class="loginInfo">
						<a href="#">{{ session['user_id'] }}</a>
						{{ session['temp']}} °C	 
						<a href="{{url_for('update_person')}}">개인정보 수정</a>
						<a id = 'note' onclick = "show()">쪽지함</a>
						<a href="{{ url_for('logout') }}">로그아웃</a>
					</div>
					<script>
						function show(){
						window.open("{{url_for('note_receive')}}","_blank", "resizable=yes");

					}	
					</script>
				{% else %}
					<a href="{{ url_for('login') }}"  class="login">로그인</a>
					<a href="{{ url_for('register') }}">회원가입</a>
				{% endif %}
			</div>
		</header>
    </div>

    <div class="board_wrap">
        <div class="board_title">
            <strong>자유게시판</strong>
            <p>자유롭게 일상을 담아보세요.</p>
        </div>
        <div class="board_list_wrap">
            <div class="board_list">
                <div class="top">
                    <div class="num">번호</div>
                    <div class="title">제목</div>
                    <div class="writer">글쓴이</div>
                    <div class="date">작성일</div>
                    <div class="count">조회</div>
                    <div class="like">추천수{{msg}}</div>
                </div>
                <div>
                    <div class="num">-</div>
                    <div class="title"><a href="view.html">관리자 공지사항</a></div>
                    <div class="writer">관리자</div>
                    <div class="date">2022.0.00</div>
                    <div class="count">100</div>
                    <div class="like">-</div>
                </div>
                <div>
                    <div class="num">5</div>
                    <div class="title"><a href="view.html">글 제목이 들어갑니다.</a></div>
                    <div class="writer">김이름</div>
                    <div class="date">2022.11.11</div>
                    <div class="count">33</div>
                    <div class="like">1</div>
                </div>
                <div>
                    <div class="num">4</div>
                    <div class="title"><a href="view.html">글 제목이 들어갑니다.</a></div>
                    <div class="writer">김이름</div>
                    <div class="date">2022.11.11</div>
                    <div class="count">33</div>
                    <div class="like">1</div>
                </div>
                <div>
                    <div class="num">3</div>
                    <div class="title"><a href="view.html">글 제목이 들어갑니다.</a></div>
                    <div class="writer">김이름</div>
                    <div class="date">2022.11.11</div>
                    <div class="count">33</div>
                    <div class="like">1</div>
                </div>
                <div>
                    <div class="num">2</div>
                    <div class="title"><a href="view.html">글 제목이 들어갑니다.</a></div>
                    <div class="writer">김이름</div>
                    <div class="date">2022.11.11</div>
                    <div class="count">33</div>
                    <div class="like">1</div>
                </div>
                <div>
                    <div class="num">1</div>
                    <div class="title"><a href="view.html">글 제목이 들어갑니다.</a></div>
                    <div class="writer">김이름</div>
                    <div class="date">2022.11.11</div>
                    <div class="count">33</div>
                    <div class="like">1</div>
                </div>
            </div>
            <div class="board_page_wrap">
                <div class="board_page">
                    <a href="#" class="bt first"><<</a>
                    <a href="#" class="bt prev"><</a>
                    <a href="#" class="num on">1</a>
                    <a href="#" class="num">2</a>
                    <a href="#" class="num">3</a>
                    <a href="#" class="num">4</a>
                    <a href="#" class="num">5</a>
                    <a href="#" class="bt next">></a>
                    <a href="#" class="bt last">>></a>
                </div>
                <div class="form_wrap">
                    <form role="search">
                        <input type="search" class="form_control" placeholder="Search..." aria-label="Search">
                    </form>
                </div>
            </div>
            <div class="bt_wrap">
                <a href="write.html" class="on">글쓰기</a>
            </div>
        </div>
    </div>
</body>

</html>