<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="style.css">
</head>

<body>
	<div class="wrap">
		<header class="header">
			<div class="head">
				<h1><a href="./index.html">닮는 것을 담다</a></h1>
				<nav class="navi">
					<a href="#">자유 게시판</a>
					<a href="#">결과 게시판</a>
				</nav>
			</div>
			<div class="side_menu">
				<div class="loginInfo">
					<a href="#">userID</a>
					<a href="#">25℃</a>
					<a href="#">개인정보 수정</a>
					<a href="#">쪽지함</a>
				</div>
				<a href="#" class="login">로그인</a>
				<a href="#">회원가입</a>
			</div>
		</header>


		<main class="main">

			<section class="container">
				<div class="hero">
					<a href="#"><img src="./img/그림1.jpg"></a>
				</div>

				<div class="upload">
					<a href="#">얼굴 사진을 올려놓거나<br>눌러서 업로드하세요</a>
				</div>
			</section>

			<h2>성별을 선택해주세요.</h2>
			<div class="sex">
				<input type="checkbox" id="toggle" hidden>
				<span>남자</span>
				<label for="toggle" class="toggleSwitch">
					<span class="toggleButton"></span>
				</label>
				<span>여자</span>
			</div>
		</main>
	</div>
	<script src="./main.js"></script>

</body>

</html>