<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="../static/css/jeongmin/style.css">
</head>
<style>
</style>
<body>
	<div class="wrap">
		<header class="header">
			<div class="head">
				<h1><a href="{{ url_for('main_view')}}">닮는 것을 담다</a></h1>
				<nav class="navi">
					<a href="#">자유 게시판</a>
					<a href="#">결과 게시판</a>
				</nav>
			</div>
			<div class="side_menu">
				<div class="loginInfo">
					<a href="#">userID</a>
					<a href="#">25℃</a>
					<a href="#">개인정보 수정</a>
					<a href="#">쪽지함</a>
				</div>
				<a href="#" class="login">로그인</a>
				<a href="#">회원가입</a>
			</div>
		</header>

		<main class="main">
			<article class="title">
				<h2>{{ results[0][1] }}</h2>
			</article>

			<div class="photo">
				<img src="{{ imgsrc[0] }}" width="500px" height="400px" alt="">
			</div>

			<div class="list">
				<ul>
					{% for i in results%}
					<li>
						<dl>
							<dt>{{i[1]}}</dt>
							<dd>
								<article class="progressbar">
									<span class="gauge" id="{{ i[1] }}" value= "{{ i[0]|round }}">{{ i[0]|round(1) }}</span>
								</article>
							</dd>
						</dl>
					</li>
					{% endfor %}
				</ul>
			</div>

			<div class="share">
				<a href="./upload.html">게시판 공유하기</a>
			</div>

			<div class="btn">
				<a href="./upload.html">다른 사진으로 재시도</a>
			</div>
		</main>
	</div>
	<script src="./main.js"></script>
</body>

</html>