
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/css/jeongmin/style.css">

	<title>내 쪽지함</title>
</head>

<body>
	<div class="wrap">
		<header class="header">
			<div class="head">
				<h1><a href="./index.html">닮는 것을 담다</a></h1>
				<nav class="navi">
					<a href="#">자유 게시판</a>
					<a href="#">결과 게시판</a>
				</nav>
			</div>
			<div class="side_menu">
				{% if session["user_id"] %}
					<div class="loginInfo">
						<a href="#">{{ session['user_id'] }}</a>
						<a href="#">25℃</a>
						<a href="#">개인정보 수정</a>
						<a href="{{ url_for('notes') }}">쪽지함</a>
						<a href="{{ url_for('logout') }}">로그아웃</a>
					</div>
				{% else %}
					<a href="{{ url_for('login') }}"  class="login">로그인</a>
					<a href="{{ url_for('register') }}">회원가입</a>
				{% endif %}
			</div>
		</header>


		<main class="main">

			<form form action="{{url_for('main_view')}}"  method="POST" enctype="multipart/form-data" >
				<h2>성별을 선택해주세요.</h2>
				<div class="sex">
					<input type="hidden" id="gender_flag" name="gender_flag" value="0" >
					<input type="checkbox" id="toggle"hidden>
					<span>남자</span>
					<label for="toggle" class="toggleSwitch" onclick="togglechange()" >
						<span class="toggleButton"></span>
					</label>
					<span>여자</span>
				</div>
				<section class="container">
					<div class="hero">
						<a href="#"><img src="../static/img/그림1.jpg"></a>
					</div>

					<div class="upload">
						<input type="file" id="ex_file" name="file" hidden>
						<label for="ex_file">얼굴 사진을 올려놓거나<br>눌러서 업로드하세요.</label> 
						<input type="submit" id="submit" hidden/>
					</div>
				</section>

			
			</form>
		</main>

	</div>
	<script>
		document.getElementById('ex_file').onchange = function() {
			document.getElementById('submit').click();
			console.log('실행');
		};
	function togglechange(){
		if (document.getElementById("gender_flag").value =="0"){ 
		document.getElementById("gender_flag").value="1";
		
		}
		else{		document.getElementById("gender_flag").value="0";}
		console.log(1);
	};
		</script>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <script>
            alert("{{messages[-1]}}")
        </script>
    {% endif %}
{% endwith %}

</body>

</html>

