<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="style.css">
</head>

<body>
	<div class="wrap">
		<header class="header">
			<div class="head">
				<h1><a href="./index.html">닮는 것을 담다</a></h1>
				<nav class="navi">
					<a href="#">자유 게시판</a>
					<a href="#">결과 게시판</a>
				</nav>
			</div>
			<div class="side_menu">
				<div class="loginInfo">
					<a href="#">userID</a>
					<a href="#">25℃</a>
					<a href="#">개인정보 수정</a>
					<a href="#">쪽지함</a>
				</div>
				<a href="#" class="login">로그인</a>
				<a href="#">회원가입</a>
			</div>
		</header>

		<main class="main">
			<article class="title">
				<h2>이청아</h2>
			</article>

			<div class="photo">
				<img src="./img/sample.jpg" alt="">
			</div>

			<div class="list">
				<ul>
					<li>
						<dl>
							<dt>이청아</dt>
							<dd>
								<article class="progressbar">
									<span class="gauge">64%</span>
								</article>
							</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>모모</dt>
							<dd>
								<article class="progressbar">
									<span class="gauge">13%</span>
								</article>
							</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>우기</dt>
							<dd>
								<article class="progressbar">
									<span class="gauge">11%</span>
								</article>
							</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>리사</dt>
							<dd>
								<article class="progressbar">
									<span class="gauge">9%</span>
								</article>
							</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>이지아</dt>
							<dd>
								<article class="progressbar">
									<span class="gauge">1%</span>
								</article>
							</dd>
						</dl>
					</li>
				</ul>
			</div>

			<div class="share">
				<a href="./upload.html">게시판 공유하기</a>
			</div>

			<div class="btn">
				<a href="./upload.html">다른 사진으로 재시도</a>
			</div>
		</main>
	</div>
	<script src="./main.js"></script>
</body>

</html>