<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>닮다담다 - 게시판</title>
    <link rel="stylesheet" href="../static/css/Sungwon/board_style.css">
    <link href="../static/img/loco.png" rel="icon" type="image/icon">

</head>

<body>
	<div class="wrap">
		<header class="header">
			<div class="head">
				<h1><a href="{{url_for('main_view')}}">닮는 것을 담다</a></h1>
				<nav class="navi">
					<a href="{{url_for('list_free')}}">자유 게시판</a>
					<a href="{{url_for('list_share')}}">결과 게시판</a>
				</nav>
			</div>
			<div class="side_menu">
				{% if session["user_id"] %}
					<div class="loginInfo">
						<a href="#">{{ session['user_id'] }}</a>
						{{ session['temp']}} °C	 
						<a href="{{url_for('update_person')}}">개인정보 수정</a>
						<a id = 'note' onclick = "show()">쪽지함</a>
						<a href="{{ url_for('logout') }}">로그아웃</a>
					</div>
					<script>
						function show(){
						window.open("{{url_for('note_receive')}}","_blank", "resizable=yes");

					}	
					</script>
				{% else %}
					<a href="{{ url_for('login') }}"  class="login">로그인</a>
					<a href="{{ url_for('register') }}">회원가입</a>
				{% endif %}
			</div>
		</header>
    </div>

    <div class="board_wrap">
        <div class="board_title">
            <strong>게시판</strong>
        </div>
        <div class="board_view_wrap">
            <div class="board_view">
                <div class="title">
                    글 제목
                </div>
                <div class="info">
                    <dl>
                        <dt>번호</dt>
                        <dd>1</dd>
                    </dl>
                    <dl>
                        <dt>글쓴이</dt>
                        <dd>김이름</dd>
                    </dl>
                    <dl>
                        <dt>작성일</dt>
                        <dd>2022.11.07</dd>
                    </dl>
                    <dl>
                        <dt>조회</dt>
                        <dd>33</dd>
                    </dl>
                </div>
                <div class="cont">
                    글 내용이 들어갑니다<br>
                    글 내용이 들어갑니다<br>
                    글 내용이 들어갑니다<br>
                    글 내용이 들어갑니다<br>
                    글 내용이 들어갑니다
                </div>
            </div>
            <div class="bt_wrap">
                <a>삭제</a>
                <a href="edit.html">수정</a>
                <a href="listF.html">목록</a>
            </div>
            <div id="form-commentInfo">
                <div id="comentFuc" >
                    <div id="form-comment">
                        댓글 <span id="form-comment-count">0</span>
                    </div>
                    <div id="form-like">
                        <button type="button" id="form-like-count">like</button>
                    </div>
                    <div>
                        <button id="form-message">message</button>
                    </div>
                </div>
                <input id="comment-input" placeholder="댓글을 입력해 주세요.">
                <button id="submit">등록</button>
            </div>
        </div>
    </div>
</body>


</html>