<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="../static/css/jeongmin/style.css">
</head>

<body>
	<div class="wrap">
		<header class="header">
			<div class="head">
				<h1>닮는 것을 담다</h1>
				<nav class="navi">
					<a href="#">자유 게시판</a>
					<a href="#">결과 게시판</a>
				</nav>
			</div>
			<div class="side_menu">
				<a href="#">로그인</a>
				<a href="#">회원가입</a>
			</div>
		</header>


		<main class="main">

			<section class="container">
				<div class="hero">
					<a href="#"><img src="../static/img/그림1.jpg"></a>
				</div>

				<div class="upload">
					<a href="#">얼굴 사진을 올려놓거나<br>눌러서 업로드하세요</a>
				</div>
			</section>

			<div class="sex">
				<p>성별을 선택하세요</p>
				<button>남자</button>
				<button>여자</button>
			</div>
		</main>
	</div>
</body>

</html>