<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1tle">
	<title>Document</title>
	<link rel="stylesheet" href="../static/css/jeongmin/style.css">
</head>

<body>
	<div class="wrap">
		<header class="header">
			<div class="head">
				<h1>닮는 것을 담다</h1>
				<nav class="navi">
					<a href="#">자유 게시판</a>
					<a href="#">결과 게시판</a>
				</nav>
			</div>
			<div class="side_menu">
				<a href="#">로그인</a>
				<a href="#">회원가입</a>
			</div>
		</header>

		<main class="main">
			<article class="title">
				<h2>이청아</h2>
				<p>'청초에서 카리스마까지' 반전의</p>
			</article>

			<div class="list">
				<ul>
					<li>
						<dl>
							<dt>이청아</dt>
							<dd>
								<article class="progressbar">
									<span class="gauge">64%</span>
								</article>
							</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>모모</dt>
							<dd>
								<article class="progressbar">
									<span class="gauge">13%</span>
								</article>
							</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>우기</dt>
							<dd>
								<article class="progressbar">
									<span class="gauge">11%</span>
								</article>
							</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>리사</dt>
							<dd>
								<article class="progressbar">
									<span class="gauge">9%</span>
								</article>
							</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>이지아</dt>
							<dd>
								<article class="progressbar">
									<span class="gauge">1%</span>
								</article>
							</dd>
						</dl>
					</li>
				</ul>
			</div>

			<div class="share">
				<a href="#"><img src="../static/img/icon_cacaostory.png" alt="카카오스토리"></a>
				<a href="#"><img src="../static/img/icon_line.png" alt="라인"></a>
				<a href="#"><img src="../static/img/icon_plus.png" alt="구글플러스"></a>
			</div>

			<div class="btn">
				<a href="#">다른 사진으로 재시도</a>
			</div>
		</main>
	</div>
</body>

</html>